h1 {
  text-align: center;
}

.input-info {
  display: flex;
  justify-content: center;
}

.back-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.back-link a {
  font-size: 2rem;
}
