/* .output {
  width: 300px;
  height: 100px;
  color: #fff;
  text-align: center;
} */
.output {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.back-link a {
  font-size: 2rem;
}
